<div id="ride_statistics" class="bg-white overflow-hidden shadow rounded-lg h-full">
  <div class="p-5">
    <div class="flex items-center">
      <div class="flex-shrink-0 bg-indigo-500 rounded-md p-3">
        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
        </svg>
      </div>
      <div class="ml-5 w-0 flex-1">
        <dl>
          <dt class="text-sm font-medium text-gray-500 truncate">
            Ride Statistics
          </dt>
          <dd>
            <div class="text-lg font-medium text-gray-900">
              <%= @active_rides&.count || 0 %> Active
            </div>
            <p class="mt-1 text-sm text-gray-500">
              <%= @completed_rides&.count || 0 %> Completed | <%= @cancelled_rides&.count || 0 %> Cancelled
            </p>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div> 