<div class="container mx-auto px-4 py-6">
  <h1 class="text-3xl font-bold mb-6">Welcome, <%= current_user.first_name %></h1>

  <% case current_user.role %>
  <% when "passenger" %>
    <%= render "dashboard/passenger_dashboard" %>
  <% when "driver" %>
    <%= render "dashboard/driver_dashboard" %>
  <% when "company" %>
    <%= render "dashboard/company_dashboard" %>
  <% else %>
    <div class="bg-white rounded-lg shadow p-6">
      <p>Please select a role to view the appropriate dashboard.</p>
    </div>
  <% end %>
</div>


