<h1>Dashboard</h1>

<div data-controller="map"
     data-map-origin='{"lat":40.7128,"lng":-74.0060}'
     data-map-destination='{"lat":42.3601,"lng":-71.0589}'
     data-map-target="map"
     style="height: 500px; width: 100%;"></div>
