<div id="<%= dom_id driver_profile %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= driver_profile.user_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">License:</strong>
    <%= driver_profile.license %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">License issuer:</strong>
    <%= driver_profile.license_issuer %>
  </p>
</div>
