<% content_for :title, "Passenger profiles" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">My Profile</h1>
    <%= link_to "Edit my profile", edit_passenger_profile_path(current_user.passenger_profile), class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div id="passenger_profiles" class="min-w-full">
    <% if @passenger_profiles.any? %>
      <% @passenger_profiles.each do |passenger_profile| %>
        <%= render passenger_profile %>
      <% end %>
    <% else %>
      <p class="text-center my-10">No passenger profiles found.</p>
    <% end %>
  </div>
</div>
