<% content_for :title, "New ride" %>

<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-2xl mb-6">Request a Ride</h1>

  <div id="new_ride">
    <% if current_user&.role_passenger? %>
      <%= render "passenger_form", ride: @ride %>
    <% elsif current_user&.role_driver? %>
      <%= render "form", ride: @ride %>
    <% else %>
      <p class="text-red-500">You must be logged in as a passenger or driver to create a ride.</p>
    <% end %>
  </div>
</div>
