<%= turbo_stream.replace "ride_details_#{@ride.id}" do %>
  <%= turbo_frame_tag "ride_details_#{@ride.id}" do %>
    <% if params[:expanded] == "true" %>
      <%= render partial: "rides/ride_details", locals: { ride: @ride } %>
    <% else %>
      <span></span>
    <% end %>
  <% end %>
<% end %>
